body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
  }
  
  .form-container {
    margin-bottom: 20px;
  }
  
  #frutaForm {
    display: flex;
    flex-direction: column;
  }
  
  #frutaForm input {
    margin: 5px 0;
    padding: 10px;
    font-size: 16px;
  }
  
  #frutaForm button {
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
  }
  
  .frutas-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .fruta {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
  }
  
  .fruta img {
    max-width: 100%;
    height: auto;
  }
  